[
  (
      value: "(>_<)",
      description: "Painful"
  ),
  (
      value: "( ´-ω･)︻┻┳══━一",
      description: "Sniper"
  ),
  (
    value: "(/ω･＼)",
    description: "Peering"
  ),
  (
    value: "(;-_-)ノ",
    description: "Giving up"
  ),
  (
    value: "(;´Д`)",
    description: "Giving up"
  ),
  (
    value: "(o^-^o)",
    description: "Pikachu"
  ),
  (
    value: "(o￣∇￣)=◯)`ν゜)･",
    description: "Punching"
  ),
  (
    value: "(o´・Υ・)ﾉ･",
    description: "Help"
  ),
  (
    value: "(¬‿¬)",
    description: "Cunning"
  ),
  (
    value: "(¬_¬\")",
    description: "Annoyed"
  ),
  (
    value: "(¬_¬ )",
    description: "Neglected"
  ),
  (
    value: "(¬､¬)",
    description: "Shifty"
  ),
  (
    value: "(´・ω・)っ由",
    description: "Gift"
  ),
  (
    value: "(´･ω･`)",
    description: "Snubbing"
  ),
  (
    value: "¯\\_(ツ)_/¯",
    description: "Shrugging"
  ),
  (
    value: "ᕕ( ᐛ )ᕗ",
    description: "Celebrating"
  ),
  (
    value: "⊂((・▽・))⊃",
    description: "Hug me"
  ),
  (
    value: "(๑˃ᴗ˂)ﻭ",
    description: "Cute fists"
  ),
  (
    value: "(´,,•ω•,,)♡",
    description: "Love"
  ),
  (
    value: "( ´･･)ﾉ(._.`)",
    description: "Headpat"
  ),
]

