[
  (
      value: "(>_<)",
      description: "Painful"
  ),
  (
      value: "( ´-ω･)︻┻┳══━一",
      description: "Sniper"
  ),
  (
    value: "(/ω･＼)",
    description: "Peering"
  ),
  (
    value: "(;-_-)ノ",
    description: "Giving up"
  ),
  (
    value: "(;´Д`)",
    description: "Giving up"
  ),
  (
    value: "(o^-^o)",
    description: "Pikachu"
  ),
  (
    value: "(o￣∇￣)=◯)`ν゜)･",
    description: "Punching"
  ),
  (
    value: "(o´・Υ・)ﾉ･",
    description: "Help"
  ),
  (
    value: "(¬‿¬)",
    description: "Cunning"
  ),
  (
    value: "(¬_¬\")",
    description: "Annoyed"
  ),
  (
    value: "(¬_¬ )",
    description: "Neglected"
  ),
  (
    value: "(¬､¬)",
    description: "Shifty"
  ),
  (
    value: "(´・ω・)っ由",
    description: "Gift"
  ),
  (
    value: "(´･ω･`)",
    description: "Snubbing"
  ),
  (
    value: "¯\\_(ツ)_/¯",
    description: "Shrugging"
  ),
  (
    value: "ᕕ( ᐛ )ᕗ",
    description: "Celebrating"
  ),
  (
    value: "⊂((・▽・))⊃",
    description: "Hug me"
  ),
  (
    value: "(๑˃ᴗ˂)ﻭ",
    description: "Cute fists"
  ),
  (
    value: "(´,,•ω•,,)♡",
    description: "Love"
  ),
  (
    value: "( ´･･)ﾉ(._.`)",
    description: "Headpat"
  ),
  (
    value: "(ノ｀Д´)ノ彡┻━┻",
    description: "Table throw"
  ),
  (
    value: "|･ω･)",
    description: "Peek"
  ),
  (
    value: "ᕙ(⇀‸↼‶)ᕗ",
    description: "Flex"
  ),
  (
    value: "(╥﹏╥)",
    description: "Crying"
  ),
  (
    value: "☆ｏ(＞＜；)○",
    description: "Dissatisfied"
  ),
  (
    value: "o(TヘTo)",
    description: "Crying"
  ),
  (
    value: "(´･︵･`)",
    description: "Sad"
  ),
  (
    value: "(｡•́︿•̀｡)",
    description: "Sad"
  ),
  (
    value: "( ´-ω･)︻┻┳══━一 ♡",
    description: "Sniper Love"
  ),
  (
    value: "(( _ _ ))..zzzZZ",
    description: "Sleeping"
  ),
  (
    value: "(－ω－) zzZ",
    description: "Sleeping"
  ),
  (
    value: "(´｡• ᵕ •｡`)",
    description: "Happy"
  ),
  (
    value: "(´｡• ᵕ •｡`)♡",
    description: "Happy Love"
  ),
  (
    value: "( ´｡- ᵕ •｡)︻┻┳══━一",
    description: "Happy Sniper"
  ),
  (
    value: "ᕙ(｡> ω <｡‶)ᕗ",
    description: "Happy Flex"
  ),
  (
    value: "| ´-ω･)︻┻┳══━一",
    description: "Peek Sniper"
  ),
  (
    value: "(ᓀ‸ᓂ)",
    description: "Angry"
  ),
  (
    value: "─=≡Σ((( つ＞＜)つ",
    description: "Run"
  ),
  (
    value: "(ﾒ￣▽￣)︻┳═一",
    description: "Gun"
  ),
  (
    value: "(ﾒ` ﾛ ´)︻デ═一",
    description: "Gun"
  ),
  (
    value: "(ಠ o ಠ)¤=[]:::::>",
    description: "Sword"
  ),
  (
    value: "(ﾉ≧∀≦)ﾉ ‥…━━━★",
    description: "Magic"
  ),
  (
    value: "(oT-T)尸",
    description: "Surrender"
  ),
  (
    value: "∠( ᐛ 」∠)_",
    description: "Lying"
  ),
  (
    value: "ଘ(੭ˊᵕˋ)੭* ੈ✩‧₊˚",
    description: "Angel"
  ),
  (
    value: "ଘ(੭ˊ꒳ˋ)੭✧",
    description: "Angel"
  ),
  (
    value: "ଘ(੭ˊ꒳ˋ)੭♡",
    description: "Angel"
  ),
  (
    value: "⊂(´• ω •`⊂)",
    description: "Hugging"
  ),
  (
    value: "(\\(\\( -.-)o_(\")(\")",
    description: "Bunny"
  ),
    (
        value: "( U Δ U )",
        description: "Bronya"
    )
]

