@import "./themes/catppuccin/mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background-color: @crust;
  color: @text;
  border-bottom: 4px solid @base;
  /* border-radius: 12px; */
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar > box {
  padding: 0;
}

#workspaces button {
  padding: 0;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background: @base;
}

#workspaces button.active {
  /* background: linear-gradient(to top, rgba(169, 177, 214, 0.5), transparent); */
  color: @text;
  /* box-shadow: inset 0 -3px #c0caf5; */
}

#workspaces button:not(.active) {
  color: @surface2;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  border-bottom: 3px solid @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: @text;
}

#custom-home,
#custom-power {
  background: @base;
  color: @text;
  padding: 0 20px;
}

#custom-home {
  border-top-right-radius: 14px;
}

#custom-power {
  border-top-left-radius: 14px;
}

#window,
#workspaces {
  margin: 0 4px;
}

#window {
  color: @subtext0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: @rosewater;
}

/* #battery { */
/*   background-color: #ffffff; */
/*   color: #000000; */
/* } */

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @crust;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: @pink;
}

#network.disconnected {
  background-color: @red;
}

#pulseaudio {
  color: @yellow;
}

/**/
/* #pulseaudio.muted { */
/*   background-color: #90b1b1; */
/*   color: #2a5c45; */
/* } */
